<section class="top-discount-area d-md-flex align-items-center">
    <!-- Single Discount Area -->
    <div class="single-discount-area">
        <h5>Gratis Leverans &amp; Retur</h5>
        <h6><a href="#">KÖP NU</a></h6>
    </div>
    <!-- Single Discount Area -->
    <div class="single-discount-area">
        <h5>50% Rea för alla kläder</h5>
        <h6>ANVÄND KOD: OMW</h6>
    </div>
    <!-- Single Discount Area -->
    <div class="single-discount-area">
        <h5>20% Rea för studenter</h5>
        <h6>ANVÄND KOD: Lill Nilles Sparkassa</h6>
    </div>
</section>
