<div class="catagories-side-menu">
    <!-- Close Icon -->
    <div id="sideMenuClose">
        <i class="ti-close"></i>
    </div>
    <!--  Side Nav  -->
    <div class="nav-side-menu">
        <div class="menu-list">
            <h6>Kategorier</h6>
            <ul id="menu-content" class="menu-content collapse out">
                <!-- Single Item -->
                <li data-toggle="collapse" data-target="#women" class="collapsed active">
                    <a href="#">Kvinnor <span class="arrow"></span></a>
                    <ul class="sub-menu collapse" id="women">
                        <li><a href="#">Midi Klädningar</a></li>
                        <li><a href="#">Maxi Klädningar</a></li>
                        <li><a href="#">Prom Klädningar</a></li>
                        <li><a href="#">Svarta Klädningar</a></li>
                        <li><a href="#">Mini Klädningar</a></li>
                    </ul>
                </li>
                <!-- Single Item -->
                <li data-toggle="collapse" data-target="#man" class="collapsed">
                    <a href="#">Män <span class="arrow"></span></a>
                    <ul class="sub-menu collapse" id="man">
                        <li><a href="#">Jeans</a></li>
                        <li><a href="#">Tröjor</a></li>
                        <li><a href="#">Jackor</a></li>
                    </ul>
                </li>
                <!-- Single Item -->
                <li data-toggle="collapse" data-target="#kids" class="collapsed">
                    <a href="#">Barn <span class="arrow"></span></a>
                    <ul class="sub-menu collapse" id="kids">
                        <li><a href="#">Barn Klädningar</a></li>
                        <li><a href="#">Barn Kläder</a></li>
                    </ul>
                </li>
                <!-- Single Item -->
                <li data-toggle="collapse" data-target="#bags" class="collapsed">
                    <a href="#">Väskor &amp; handväskor <span class="arrow"></span></a>
                    <ul class="sub-menu collapse" id="bags">
                        <li><a href="#">Väskor</a></li>
                        <li><a href="#">Handväskor</a></li>
                    </ul>
                </li>
                <!-- Single Item -->
                <li data-toggle="collapse" data-target="#eyewear" class="collapsed">
                    <a href="#">Glasögon <span class="arrow"></span></a>
                    <ul class="sub-menu collapse" id="eyewear">
                        <li><a href="#">Vintage Glasögon</a></li>
                        <li><a href="#">Moderna Glasögon</a></li>
                        <li><a href="#">Premium Glasögon</a></li>
                    </ul>
                </li>
                <!-- Single Item -->
                <li data-toggle="collapse" data-target="#footwear" class="collapsed">
                    <a href="#">Skor <span class="arrow"></span></a>
                    <ul class="sub-menu collapse" id="footwear">
                        <li><a href="#">Sneakers</a></li>
                        <li><a href="#">Boots</a></li>
                        <li><a href="#">Träningsskor</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
